<!doctype html>

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Calculadora Web</title>

    <!-- Estilo -->
    <link href="../static/style.css" rel="stylesheet" />

    <!-- Google icones-->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=backspace"
      rel="stylesheet"
    />

    <!-- Google fontes -->
    <link
      href="https://fonts.googleapis.com/css2?family=Mada:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="calculator-container">
      <div class="display"></div>
      {{expressao}}

      <form class="keys" method="POST" action="/">
        <button class="key key-clear" name="key" value="c">C</button>
        <button class="key" name="key" type="submit" value="/">÷</button>
        <button class="key" name="key" type="submit" value="*">×</button>
        <button class="key" name="key" type="submit" value="7">7</button>
        <button class="key" name="key" type="submit" value="8">8</button>
        <button class="key" name="key" type="submit" value="9">9</button>
        <button class="key" name="key" type="submit" value="-">-</button>
        <button class="key" name="key" type="submit" value="4">4</button>
        <button class="key" name="key" type="submit" value="5">5</button>
        <button class="key" name="key" type="submit" value="6">6</button>
        <button class="key" name="key" type="submit" value="+">+</button>
        <button class="key" name="key" type="submit" value="1">1</button>
        <button class="key" name="key" type="submit" value="2">2</button>
        <button class="key" name="key" type="submit" value="3">3</button>
        <button class="key key-equals" name="key" type="submit" value="=">=</button>
        <button class="key" name="key" type="submit" value="0">0</button>
        <button class="key key-comma" name="key" type="submit" value=",">,</button>
        <button class="key key-backspace" name="key" type="submit" value="backspace">
          <span class="material-symbols-outlined"> backspace </span>
        </button>
      </form>
    </div>
  </body>
</html>
