<!doctype html>

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />

    <title>Calculadora Web</title>
  </head>

  <body>
    <div class="calculator-container">
      <div class="display">
        <span class="result">0</span>
      </div>

      <div class="keys">
        <button class="key-clear">C</button>
        <button class="key-division">÷</button>
        <button class="key-multiply">×</button>
        <button class="key-seven">7</button>
        <button class="key-eight">8</button>
        <button class="key-nine">9</button>
        <button class="key-subtract">-</button>
        <button class="key-four">4</button>
        <button class="key-five">5</button>
        <button class="key-six">6</button>
        <button class="key-addition">+</button>
        <button class="key-one">1</button>
        <button class="key-two">2</button>
        <button class="key-three">3</button>
        <button class="key-equals">=</button>
        <button class="key-zero">0</button>
        <button class="key-comma">,</button>
        <button class="key-backspace">⌫</button>
      </div>
    </div>
  </body>
</html>
